.contact_container {
  text-align: center;
  background-image: url("contactbackground.avif");
  background-repeat: no-repeat;

  background-size: cover;
  padding: 30px 0px;
}
.contact {
  color: yellow;
}
.input_label {
  color: yellow;
  font-size: large;
  text-align: left;
}
input[type="text"],
input[type="email"] {
  color: white;

  width: 80%;
  font-size: large;
  background-color: #f6f4f4;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #f6f4f4;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

textarea[type="text"] {
  color: white;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(10px);
}
