header {
  background-color: #333;
  opacity: 1;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 10px #131313;
  margin-bottom: 0px;
}

.logo {
  font-size: 1.5rem;
}
li a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 8px black;
}
li a:hover {
  text-shadow: 2px 2px 4px red;
}

.notList {
  display: flex;
  justify-content: space-between;
}
li {
  margin-right: 4rem;
  list-style: none;
}
.menu-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: flex;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header_list {
    margin-bottom: 20px;
  }
  .notList {
    display: none;
  }
}
