.project_container {
  height: 100vh;
  width: 100%;

  background-color: #333;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 40px;
}

.carousel {
  height: 550px;
  width: 600px;
  border: 2px solid gray;
  background-color: rgb(14, 1, 1);
  border-radius: 10px;
  color: white;
  text-shadow: 2px 2px 4px rgb(241, 230, 230);
  box-shadow: 2px 16px 24px black;
}
.carousel:hover {
  background-color: black;
  color: white;
}
.card-img-top {
  height: 250px;
  border: 2px solid gray;

  border-radius: 10px;
}
.carousel-item {
  padding: 10px;
}

.project_heading {
  color: yellow;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  color: yellow;
  font-size: xx-large;
  text-shadow: 2px 3px 2px red;
}
@media screen and (max-width: 768px) {
  .carousel {
    height: 500px;
    width: auto;
    overflow: scroll;
  }
}
